{%- assign head-title = '' -%}
{%- if page.layout == 'person' -%}
  {% if page.full-name %}
    {% assign head-title = page.full-name | append: ' | ' | append: site.title %}
  {% else %}
    {% assign head-title = page.name | append: ' | ' | append: site.title %}
  {% endif %}
{%- else if page.layout == 'post' -%}
  {% assign head-title = page.title %}
{%- else -%}
  {% assign head-title = site.title | append: ' | ' | append: site.title %}
{%- endif -%}
<title>{{ head-title }}</title>
<style>
  body {
    font: normal 100%/1.5 sans-serif;
    margin: 2rem;
  }

  /*dl*/ .person__metadata {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;

    dt, dd {
      border: 1px solid #d0d0d0;
      display: block;
      padding: 0.5rem 0.75rem 0.4rem;
      margin: 0 0 -1px -1px;
    }
    dt {
      font-weight: bold;
    }
  }

  /*dl*/ .person__rels {
    h4 + ol {
      margin-block-start: -1rem;
      margin-block-end: 1.5rem;
    }
  }
</style>